
@model Kategori
    <!-- #region 1. -->
@*<div class="container">
        <h2 class="text-center">Kategori Ekle</h2>
        <div>
            @using (Html.BeginForm("ekleKat", "Ornek", FormMethod.Post))
            {
                <div class="col-md-6 offset-md-3">

                    <div class="form-group">
                        <label for="KategoriAdi" class="h5">Kategori Adi</label>
                        @Html.TextBoxFor(a => a.KategoriAdi, new { @class = "form-control" })
                    </div>
                    <br />

                    <input class="mt-3 text-center btn btn-primary" type="submit" value="Kategori Ekle" />

                </div>
            }
        </div>
    </div>*@

<!-- #endregion -->
@*//component*@

<div class="container">
    <h2 class="text-center">Kategori Ekle</h2>
    <div>
        <form asp-action="ekleKat" asp-controller="Ornek" method="post">
            <div class="col-md-6 offset-md-3">

                <div class="form-group">
                    <label class="h5">Kategori Adi</label>

                    <input type="text" value="" asp-for=" KategoriAdi " class="form-control" />
                </div>
                <br />

                <input class="mt-3 text-center btn btn-primary" type="submit" value="Kategori Ekle" />
                
            </div>
        </form>
    </div>
</div>